@using SharedLibrary.RequestModels
@inject LocalStorageHelper localStorageHelper;
@inject NavigationManager navigation;

<style>
	.original-menu {
		background-color: #f2f2f5; /* Dark background */
		color: #e9ecef; /* Light text */
		width: 240px; /* Consistent sidebar width */
		height: 100vh; /* Full height */
		display: flex;
		flex-direction: column;
		padding: 20px 0; /* Vertical padding */
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
	}

	.original-menu-header {
		text-align: center;
		margin-bottom: 20px;
	}

		.original-menu-header h2 {
			color: #62388a; /* Primary color for header */
			font-weight: 600;
		}

	.original-menu-nav {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start; /* Align items to the top */
	}

	.original-menu-item {
		padding: 10px 20px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

		.original-menu-item:hover {
			background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
		}

		.original-menu-item a {
			color: #e9ecef;
			text-decoration: none;
			display: block;
		}

			.original-menu-item a.active {
				background-color: #007bff;
				color: white;
				padding: 8px 16px;
				border-radius: 5px;
			}

	.original-menu-logout {
		text-align: center;
		padding: 20px;
	}
</style>

<div class="original-menu">
	<div class="original-menu-header">
		<h2>Menu</h2>
	</div>
	<nav class="original-menu-nav">
		<div class="original-menu-item">
			<NavLink class="nav-link" href="/universities">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> University Search Engine
			</NavLink>
		</div>
		<div class="original-menu-item">
			<NavLink class="nav-link" href="/favorites">
				<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Favorites
			</NavLink>
		</div>
	
	</nav>
	<div class="original-menu-logout">
		<MudButton OnClick="Logout" Style="background-color: #c4acda;" >Դուրս գալ համակարգից</MudButton>
	</div>
</div>

@code {
	private bool showFiltering = false;

	private void ToggleFiltering()
	{
		showFiltering = !showFiltering;
	}

	
	private async void Logout()
	{
		await localStorageHelper.RemoveToken(TokenStorageName.UserAccess);
		navigation.NavigateTo(Route.Registration);
	}
}